* {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body {
	font-size: small;
	font-family: Arial,Helvetica,sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
}

hr {
	margin: 15px 0px;
}

/*################################## LAYOUT #################################*/
#heater {
	float: left;
}

.menu-left {
	clear: both;
	float: left;
}

.menu-right {
	clear: both;
	float: right;
}

.main-left {
	margin-left: 4px;
	margin-right: 140px;
}

.main-right {
	margin-left: 140px;
	margin-right: 4px;
}

#footer {
	clear: both;
}


/*################################## FORMAT #################################*/
/* ------------------------------------- Header */
#header {
	text-align: center;
}

#header #logo {
	font-size: 35px;
	font-weight: normal;
	height: 40px;
}

/* ------------------------------------- Navi */
#navi {
	width: 135px;
	display: inline;
}

#navi .menu {
	border: 2px #000 solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 2px 2px 20px 2px;
	padding: 0px 0px 2px 0px;
}

#navi .menutopic {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-weight: bold;
	text-align: center;
	font-size: medium;
	padding: 1px 0px;
}

#navi ul {
	margin: 5px 0px;
	padding-left: 20px;
	padding-right: 3px;
}

#navi li a {
	display: block;
	padding-left: 3px;
}

#navi li.active a {
	font-weight: bold;
	font-style: oblique;
	letter-spacing:0.1em;
	text-decoration: underline;
}


/* ------------------------------------- Main */
#main {
	
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px #000 solid;
	min-width: 600px;
	width:auto;
	margin-top: 2px;
	margin-bottom: 2px;
/*	
	overflow: visible;
	overflow: scroll;
*/
}

#main ul {
	padding-left: 20px;
}

#main ul li a {
	padding-left: 5px;
}

#content {
	padding: 6px 6px;
}

#contenttopic,
#shortnavi {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: medium;
	padding: 0px 6px;
}

#contenttopic {
	font-weight: bold;
	padding: 1px 6px;
}

#content table {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 10px 0px;
}

#content table td,
#content table th {
	padding: 1px 2px;
}

#content table caption {
	font-weight: bold;
	font-size: normal;
}

#content table .contenttopic {
	font-weight: bold;
	font-size: small;
}

#content .question {
	font-weight: bold;
	font-size: normal;
}

#content .engeltreffen {
	font-weight: bold;
	font-size: normal;
}

#shortnavi {
	text-align: center;
}

/* ------------------------------------- Footer */
#footer {
	padding: 0 2px;
	text-align: center;
}
