body {
	background-color: #353d87;
	color: #FFFFFF;
}

a:link,
a:visited {
	color: #832fb8;
} 

#header #logo {
	background: url(himmel.png) center 8px no-repeat;
	text-indent: -10000px;
}

#navi .menu,
#navi .menutopic {
	background-color: #c5bfff;
	color: #973cff;
}

#navi li a:focus,
#navi li a:hover,
#navi li a:active {
	background: #fff3bf;  
}

#content,
#content table .content {
	background-color: #fff3bf;
	color: #353d87;  
}

#contenttopic,
#content table .contenttopic,
#shortnavi,
#shortnavi a {
	color: #fff3bf;
	background-color: #353daa;
}

#content table.border {
	background-color: #0000FF;
}

#content .engeltreffen {
	color: #FF0000;
}
