body {
	background-color: #F3B115;
	color: navy;
}

a:link,
a:visited {
	color: #0000A0;
} 

#header #logo {
	background: url(himmel.png) center 8px no-repeat;
	text-indent: -10000px;
}

#navi .menu,
#navi .menutopic {
	background-color: #FFEBA2;
	color: #0000A0;
}

#navi li a:focus,
#navi li a:hover,
#navi li a:active {
	background: #F3B115;  
}

#content,
#content table .content {
	background: #FFEBA2;  
}

#contenttopic,
#content table .contenttopic,
#shortnavi,
#shortnavi a {
	color: #FFA000;
	background-color: navy;
}

#content table.border {
	background-color: #050509;
}

#content .engeltreffen {
	color: #FF0000;
}
