body {
	background-color: #121327;
	color: #FFFFFF;
}

a:link,
a:visited {
	color: #FF9900;
} 

#header #logo {
	background: url(himmel_w.png) center 8px no-repeat;
	text-indent: -10000px;
}


#navi .menu{
	background-color: #1F203F;
	color: #FFF3BF;
}

#navi .menutopic {
	background-color: #5f607f;
}

#navi li a:focus,
#navi li a:hover,
#navi li a:active {
	background: #636e77;  
}

#content,
#content table .content {
	background: #636e77;  
}

#contenttopic,
#content table .contenttopic,
#shortnavi {
	color: #FF9900;
	background-color: #333e47;
}

#content table.border {
	background-color: #000000;
}

