body {
	background-color: #00009F;
	color: #E0A09F;
}

a:link,
a:visited {
	color: #E00FFF;
} 

#header #logo {
	background: url(himmel.png) center 8px no-repeat;
	text-indent: -10000px;
}

#navi .menu,
#navi .menutopic {
	background-color: #5F0043;
	color: #E0FF9F;
}

#navi li a:focus,
#navi li a:hover,
#navi li a:active {
	background: #F3B115;  
}

#content,
#content table .content {
	background: #90009F;  
}

#contenttopic,
#content table .contenttopic,
#shortnavi,
#shortnavi a {
	color: #E0E09F;
	background-color: #740057;
}

#content table.border {
	background-color: #050509;
}

#content .engeltreffen {
	color: #FF0000;
}
