body {
	background-color: #ffffff;
	color: black;
}

a:link,
a:visited {
	color: #304930;
} 

#header #logo {
	background: url(himmel.png) center 8px no-repeat;
	text-indent: -10000px;
}

#navi .menu {
	background-color: #ffffff;
	color: #000000;
}

#navi .menutopic {
	background-color: #A4C93C;
	color: #000000;
}

#navi li a:focus,
#navi li a:hover,
#navi li a:active {
	background: #A4C93C;  
}

#content,
#content table .content {
	color: #000000;
	background: #ffffff;  
}

#contenttopic,
#content table .contenttopic,
#shortnavi,
#shortnavi a {
	color: #000000;
	background-color: #A4C93C;
}

#content table.border {
	background-color: #A4C93C;
}

#content .engeltreffen {
	color: #FF0000;
}
