body {
	background-color: #E1D6D6;
	color: #8A0000;
}

a:link,
a:visited {
	color: #583A3A;
} 

#header #logo {
	background: url(himmel.png) center 8px no-repeat;
	text-indent: -10000px;
}

#navi .menu,
#navi .menutopic {
	background-color: #E7E2E2;
	color: #8A0000;
}

#navi li a:focus,
#navi li a:hover,
#navi li a:active {
	background: #FFADAD;  
}

#content,
#content table .content {
	background: #E7E2E2;  
}

#contenttopic,
#content table .contenttopic,
#shortnavi,
#shortnavi a {
	color: #FFEDED;
	background-color: #8A0000;
}

#content table.border {
	background-color: #8A0000;
}

#content .engeltreffen {
	color: #FF0000;
}
